.active_class {
  color: aliceblue;
}

.nav_ele {
  font-size: 34px;
  background: darkcyan;
}

.nav_ele a {
  margin: 136px;
  color: indigo;
  text-decoration: none;
}

.container-24 {
  text-align: center;
}
