.container-27 {
  text-align: center;
  background: #008f95;
  height: 100vh;
}

.container-27 h2 {
  margin-bottom: 40px;
  background: #baba32;
  color: black;
  position: relative;
  top: 10px;
}

.container-27 input {
  width: 40%;
  background: #eeeeee;
  padding: 5px;
}

.todo-list {
  width: 40%;
  margin-top: 13px;
  margin-left: -6%;
  font-size: 25px;
  text-align: left;
  background: #eb6e80;
  box-shadow: -2px 4px 5px 0px #eb6e80;
  padding: 5px;
}

.done {
  text-decoration: line-through;
}
